body {
    background-color: #9AC8CD;
    font-family: "Lato", sans-serif;
}

/* Section-1  */

#intro {
    background-image: url("./assets/Section-1.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
}

.introHead {
    position: relative;
    top: 25%;
}

.introName {
    font-family: "Imperial Script", "Caveat", "Sevillana", "display", "cursive";
    margin: 0;
    line-height: 0.9;
    font-weight: 700;
    letter-spacing: 0.5rem;
}

.introTag {
    letter-spacing: 0.2rem;
}

/* Section-2  */

#desc {
    background-image: url("./assets/Section-2.png");
    background-repeat: no-repeat;
    /* background-size: contain;
    height: 600px; */
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.desc-grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10rem auto auto;
}

.desc-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.desc-img {
    border-radius: 50%;
    border: 2px solid #E1F7F5;
    width: 10rem;
    height: 10rem;
}

.desc-details {
    font-size: 1rem;
}


/* Section-3  */

#education {
    background-image: url("./assets/Section-3.png");
    background-size: 100% 100%;
    padding-bottom: 50px;
}

.education-flex-container,
.skills-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.education-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 3rem;
    column-gap: 9rem;
}

.education-grid-item>div>img {
    width: 6.25rem;

}

.education-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.education-grid-item-2>h3 {
    font-weight: 600;
    color: #1E0342;
}

.education-grid-item-2>p {
    margin-bottom: 0;
    font-size: 1rem;
}

/* Section-4 */

#skills {
    background-image: url("./assets/Mob/Section-4-Mob.gif");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-size: cover;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 11rem;
    border: 2px solid #1E0342;
    border-radius: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skills-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 30px;
}

.skills-container:hover {
    background-color: #E1F7F5;
    rotate: 2deg;
}

.skills-container>img {
    width: 4rem;
}


@media only screen and (max-width: 600px) {

    #intro {
        background-image: url("./assets/Mob/Section-1-Mob.png");
        /* height: 400px */
    }

    #desc {
        background-image: url("./assets/Mob/Section-2-Mob.png");
    }

    .introHead {
        top: 31%;
    }

    .education-grid-container {
        column-gap: 2rem;
    }
}

@media only screen and (min-width: 600px) {

    #skills {
        background-image: url("./assets/Section-4.gif");
    }

    .skills-grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        column-gap: 40px;
    }

    .skills-container {
        width: 7rem;
        height: 10rem;
    }

    .skills-container>img {
        width: 4rem;
    }

}
